@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	background-color: #aaa;
}

body {
	padding: 25px;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 35px;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 960px;
	background-color: #fff;
	box-shadow: 0px 0px 2px rgba(13, 13, 13, 0.3);
	transition: box-shadow 0.5s ease-out;
}

body:hover {
	box-shadow: 0px 0px 4px rgba(13, 13, 13, 1);
}

.subtle {
	font-size: 12px;
	opacity: 0.6;
}

.filetext {
	max-width: 1024px;
	min-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

a, a:visited, a:hover {
	color: #e65100;
}

.dltext {
	color: #e65100;
	text-align: center;
}

.videoprev {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
}

.audioprev {
	display: block;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	min-width: 640px;
	max-width: 1024px;
	height: auto;
}

.button {
	color: #111;
	font-weight: bold;
	display: inline-block;
	margin: 5px;
	padding: 20px;
	font-size: 24px;
	transition: box-shadow 0.2s ease-out;
}

.uploadinterface {
  width: 420px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.fileselector {
  font-size: 18px;
  color: #FF851B;
}

.submitbutton {
  font-size: 18px;
}

.submitbutton:hover {
  border-color: #FF851B;
}

.buttoncontainer {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	max-width: 422px;
	margin-left: auto;
	margin-right: auto;
}

.button:hover {
	box-shadow: 0px 0px 4px rgba(13, 13, 13, 0.6);
}

img {
	display: block;
	border: solid 5px #2d2d2d;
	margin-right: auto;
	margin-left: auto;
	max-width: 80%;
	height: auto;
}
